<!--<p>-->
<!--  hello-world works!-->

<!--</p>-->
<h1>User profile</h1>
<table border="5px" align="center">
  <div *ngFor="let datas of data">


    <label>FirstName:{{datas.user.first_name}}</label><br>
    <label>LastName:{{datas.user.last_name}}</label><br>

    <label>Email:{{datas.user.email}}</label><br>
    <label>Address: {{datas.address}}</label><br>
    <label>Phone:{{datas.phone}}</label><br>

-----------------------------------------

    <!--  {{datas.user.}}-->
  </div>
</table>
